<section>
    <div class="container">
        <mat-card class="book-holder" *ngFor="let book of books">
            <div class="book-title">
                <mat-card-title class="title">{{book.title}}</mat-card-title>
                <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
                <button mat-raised-button style="background-color: #d9534f; font-weight: bolder; color: white">+</button>
                <button mat-raised-button style="background-color: #5cb85c; color: white">✓</button>
            </div>
            <div class="book-image">
                <img src="../../assets/{{book.imageLink}}" alt="{{book.title}}">
            </div>
        </mat-card> 
    </div>
</section>